/* Базовые отступы и выравнивание */
main {
 margin: 0 auto; 
 max-width: 1200px; 
}


/* Применение шрифта ко всему сайту */
html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.1;
}

/* Опционально: настройка базовых размеров для заголовков */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

/* Адаптивные стили */
@media (max-width: 768px) {
 main {
 padding: 0 20px; 
 }
}
